
.lose-5-x-5-puzzle-card-game-design-win, .lose-5-x-5-puzzle-card-game-design-win * {

  box-sizing: border-box;

}
.lose-5-x-5-puzzle-card-game-design-win {

  background: #04000f;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1695px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .app {

  background: radial-gradient(
      closest-side,
      rgba(42, 28, 90, 1) 0%,
      rgba(0, 0, 0, 0) 55.000001192092896%
    ),
    radial-gradient(closest-side, rgba(60, 33, 102, 1) 0%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(closest-side, rgba(27, 29, 82, 1) 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(
      170deg,
      rgba(11, 3, 34, 1) 0%,
      rgba(17, 17, 57, 1) 30.000001192092896%,
      rgba(4, 0, 15, 1) 64.99999761581421%,
      rgba(23, 11, 46, 1) 100%
    );
  align-self: stretch;
  flex-shrink: 0;
  height: 1695px;
  min-height: 993px;
  position: relative;
  overflow: hidden;

}
.lose-5-x-5-puzzle-card-game-design-win .header {

  background: rgba(4, 0, 15, 0.5);
  border-style: solid;
  border-color: rgba(165, 69, 153, 0.2);
  border-width: 0px 0px 1px 0px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1551px;
  position: absolute;
  left: 0px;
  top: 0px;

}
.lose-5-x-5-puzzle-card-game-design-win .container {

  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .logo-mark {

  flex-shrink: 0;
  width: 26px;
  height: 26px;
  position: relative;
  overflow: hidden;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo {

  width: 120%;
  height: 103.33%;
  position: absolute;
  right: -18.33%;
  left: -1.67%;
  bottom: -1.9%;
  top: -1.43%;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .container2 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 133.33px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .paragraph {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse {

  color: #eaa7b7;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 16.799999237060547px;
  line-height: 16.8px;
  letter-spacing: 3.29px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .paragraph2 {

  padding: 3px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 133.33px;
  height: 15px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .puzzle-card-game {

  color: rgba(145, 139, 195, 0.5);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .container3 {

  padding: 32px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1551px;
  position: absolute;
  left: 0px;
  top: 64.8px;

}
.lose-5-x-5-puzzle-card-game-design-win .heading-1 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .flip-the-card {

  color: #e56ba6;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 44.79999923706055px;
  line-height: 49.28px;
  letter-spacing: 5.74px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .paragraph3 {

  padding: 6px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1551px;
  height: 25px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .all-cards-start-face-down-choose-your-grid {

  color: rgba(145, 139, 195, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12.479999542236328px;
  line-height: 18.72px;
  letter-spacing: 0.96px;
  font-weight: 400;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .container4 {

  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 1551px;
  position: absolute;
  left: 0px;
  top: 182.78px;

}
.lose-5-x-5-puzzle-card-game-design-win .button {

  background: rgba(4, 0, 15, 0.4);
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(145, 139, 195, 0.18);
  border-width: 1px;
  padding: 1px;
  flex-shrink: 0;
  width: 82.58px;
  height: 35.69px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win ._3-3 {

  color: rgba(145, 139, 195, 0.5);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.119999885559082px;
  line-height: 19.68px;
  letter-spacing: 1.49px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 22px;
  top: 7px;

}
.lose-5-x-5-puzzle-card-game-design-win .button2 {

  background: rgba(4, 0, 15, 0.4);
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(145, 139, 195, 0.18);
  border-width: 1px;
  padding: 1px;
  flex-shrink: 0;
  width: 83.06px;
  height: 35.69px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win ._4-4 {

  color: rgba(145, 139, 195, 0.5);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.119999885559082px;
  line-height: 19.68px;
  letter-spacing: 1.49px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 23px;
  top: 7px;

}
.lose-5-x-5-puzzle-card-game-design-win .button3 {

  background: linear-gradient(
    135deg,
    rgba(60, 33, 102, 0.9) 0%,
    rgba(42, 28, 90, 0.9) 100%
  );
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(165, 69, 153, 0.6);
  border-width: 1px;
  padding: 1px;
  flex-shrink: 0;
  width: 82.44px;
  height: 35.69px;
  position: relative;
  box-shadow: 0px 0px 16px 0px rgba(165, 69, 153, 0.25);

}
.lose-5-x-5-puzzle-card-game-design-win ._5-5 {

  color: #eaa7b7;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.119999885559082px;
  line-height: 19.68px;
  letter-spacing: 1.49px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 22px;
  top: 7px;

}
.lose-5-x-5-puzzle-card-game-design-win .container-margin {

  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 651px;
  top: 1295px;

}
.lose-5-x-5-puzzle-card-game-design-win .container5 {

  border-style: solid;
  border-color: rgba(145, 139, 195, 0.12);
  border-width: 1px 0px 0px 0px;
  padding: 18px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .container6 {

  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .text {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .grid-size {

  color: rgba(145, 139, 195, 0.35);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 7.679999828338623px;
  line-height: 11.52px;
  letter-spacing: 1.23px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win ._5-52 {

  color: #c084fc;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  letter-spacing: 1.27px;
  font-weight: 700;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .total-cards {

  color: rgba(145, 139, 195, 0.35);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 7.679999828338623px;
  line-height: 11.52px;
  letter-spacing: 1.23px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win ._25 {

  color: #c084fc;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  letter-spacing: 1.27px;
  font-weight: 700;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .status {

  color: rgba(145, 139, 195, 0.35);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 7.679999828338623px;
  line-height: 11.52px;
  letter-spacing: 1.23px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .face-down {

  color: #c084fc;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  letter-spacing: 1.27px;
  font-weight: 700;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win ._5-x-5-landscape {

  display: grid;
  gap: 0px;
  row-gap: 18px;
  position: absolute;
  left: 181px;
  top: 356px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));

}
.lose-5-x-5-puzzle-card-game-design-win .cards {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .card-back {

  background: linear-gradient(
    160deg,
    rgba(23, 11, 46, 1) 0%,
    rgba(11, 3, 34, 1) 40.00000059604645%,
    rgba(4, 0, 15, 1) 100%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(165, 69, 153, 0.28);
  border-width: 1px;
  padding: 1px;
  width: 226px;
  height: 163px;
  position: absolute;
  left: 6px;
  top: 0px;
  overflow: hidden;

}
.lose-5-x-5-puzzle-card-game-design-win .container7 {

  background: radial-gradient(
    closest-side,
    rgba(145, 139, 195, 0.1) 0.8130080997943878%,
    rgba(0, 0, 0, 0) 0.8130080997943878%
  );
  width: 123px;
  height: 186px;
  position: absolute;
  left: 1px;
  top: 1px;

}
.lose-5-x-5-puzzle-card-game-design-win .container8 {

  background: radial-gradient(
    closest-side,
    rgba(165, 69, 153, 0.12) 0%,
    rgba(0, 0, 0, 0) 64.99999761581421%
  );
  width: 225px;
  height: 163px;
  position: absolute;
  left: 1px;
  top: 0px;

}
.lose-5-x-5-puzzle-card-game-design-win .container9 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 1px 0px 0px 1px;
  padding: 1px 0px 0px 1px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 8.83px;
  top: 8.99px;

}
.lose-5-x-5-puzzle-card-game-design-win .container10 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 1px 1px 0px 0px;
  padding: 1px 1px 0px 0px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 210px;
  top: 8.99px;

}
.lose-5-x-5-puzzle-card-game-design-win .container11 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 0px 0px 1px 1px;
  padding: 0px 0px 1px 1px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 13px;
  top: 146px;

}
.lose-5-x-5-puzzle-card-game-design-win .container12 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 0px 1px 1px 0px;
  padding: 0px 1px 1px 0px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 205px;
  top: 146px;

}
.lose-5-x-5-puzzle-card-game-design-win .container13 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 79px;
  top: 39px;
  box-shadow: 0px 0px 16px 0px rgba(165, 69, 153, 0.5);

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo2 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .container14 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 121px;
  position: absolute;
  left: 53px;
  top: 107px;

}
.lose-5-x-5-puzzle-card-game-design-win .container15 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse2 {

  color: #eaa7b7;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.399999618530273px;
  line-height: 15.4px;
  letter-spacing: 3.12px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .container16 {

  padding: 3px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 121px;
  height: 13px;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .div {

  color: rgba(145, 139, 195, 0.35);
  text-align: center;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 9.100000381469727px;
  line-height: 9.1px;
  letter-spacing: 1.09px;
  font-weight: 400;
  position: relative;

}
.lose-5-x-5-puzzle-card-game-design-win .cards2 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo3 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards3 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo4 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards4 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo5 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards5 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo6 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards6 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo7 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards7 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo8 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards8 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo9 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards9 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo10 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards10 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo11 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards11 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo12 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards12 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo13 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards13 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo14 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards14 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo15 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards15 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 3 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo16 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards16 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo17 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards17 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo18 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards18 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo19 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards19 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo20 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards20 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo21 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards21 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo22 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards22 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo23 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards23 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo24 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards24 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo25 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .cards25 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 5 / span 1;

}
.lose-5-x-5-puzzle-card-game-design-win .paraverse-logo26 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.lose-5-x-5-puzzle-card-game-design-win .card-modal {

  background: rgba(4, 0, 15, 0.82);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 1551px;
  height: 1729px;
  position: absolute;
  left: 0px;
  top: -26px;

}
.lose-5-x-5-puzzle-card-game-design-win .container17 {

  flex-shrink: 0;
  width: 678px;
  height: 450px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.lose-5-x-5-puzzle-card-game-design-win .container18 {

  background: linear-gradient(
    145deg,
    rgba(42, 5, 5, 1) 0%,
    rgba(26, 2, 2, 1) 100%
  );
  border-radius: 16px;
  border-style: solid;
  border-color: #f87171;
  border-width: 2px;
  padding: 2px;
  width: 678px;
  height: 450px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.6),
    0px 0px 60px 0px rgba(248, 113, 113, 0.3);
  overflow: hidden;

}
.lose-5-x-5-puzzle-card-game-design-win .container19 {

  background: radial-gradient(
    closest-side,
    rgba(239, 68, 68, 0.2) 0%,
    rgba(0, 0, 0, 0) 64.99999761581421%
  );
  border-radius: 16px;
  width: 676px;
  height: 446px;
  position: absolute;
  left: 2px;
  top: 2px;

}
.lose-5-x-5-puzzle-card-game-design-win .container20 {

  border-radius: 2px;
  border-style: solid;
  border-color: #eaa7b7;
  border-width: 2px 0px 0px 2px;
  padding: 2px 0px 0px 2px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 16px;
  top: 16px;

}
.lose-5-x-5-puzzle-card-game-design-win .container21 {

  border-radius: 2px;
  border-style: solid;
  border-color: #eaa7b7;
  border-width: 2px 2px 0px 0px;
  padding: 2px 2px 0px 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 644px;
  top: 16px;

}
.lose-5-x-5-puzzle-card-game-design-win .container22 {

  border-radius: 2px;
  border-style: solid;
  border-color: #eaa7b7;
  border-width: 0px 0px 2px 2px;
  padding: 0px 0px 2px 2px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 16px;
  top: 420px;

}
.lose-5-x-5-puzzle-card-game-design-win .container23 {

  border-radius: 2px;
  border-style: solid;
  border-color: #eaa7b7;
  border-width: 0px 2px 2px 0px;
  padding: 0px 2px 2px 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 644px;
  top: 420px;

}
.lose-5-x-5-puzzle-card-game-design-win .container24 {

  width: 107px;
  height: 29px;
  position: absolute;
  left: 96.49px;
  top: 227.7px;

}
.lose-5-x-5-puzzle-card-game-design-win .frame-4 {

  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  width: 204px;
  position: absolute;
  left: 237px;
  top: 130.8px;

}
.lose-5-x-5-puzzle-card-game-design-win .div2 {

  color: #eaa7b7;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 56px;
  line-height: 84px;
  letter-spacing: 0.3px;
  font-weight: 400;
  position: relative;
  align-self: stretch;

}
.lose-5-x-5-puzzle-card-game-design-win .hala {

  color: #f87171;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 2.47px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;

}
.lose-5-x-5-puzzle-card-game-design-win .ay-sus-bokya-ka {

  color: #cbd5e1;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 13.72px;
  letter-spacing: 0.13px;
  font-weight: 400;
  position: relative;
  align-self: stretch;

}
.lose-5-x-5-puzzle-card-game-design-win .button4 {

  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-width: 1px;
  padding: 1px;
  width: 90.5px;
  height: 32px;
  position: absolute;
  left: 587px;
  top: -44px;

}
.lose-5-x-5-puzzle-card-game-design-win .close {

  color: #94a3b8;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.2px;
  font-weight: 500;
  position: absolute;
  left: 15px;
  top: 7px;

}

/* Custom grid collapse fix */
.lose-5-x-5-puzzle-card-game-design-win ._5-x-5-landscape > div {
  width: 238px !important;
}
.lose-5-x-5-puzzle-card-game-design-win ._4-x-4-landscape > div {
  width: 238px !important;
}
