
.card-back-view-5-x-5-puzzle-card-game-design, .card-back-view-5-x-5-puzzle-card-game-design * {

  box-sizing: border-box;

}
.card-back-view-5-x-5-puzzle-card-game-design {

  background: #04000f;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 1695px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .app {

  background: radial-gradient(
      closest-side,
      rgba(42, 28, 90, 1) 0%,
      rgba(0, 0, 0, 0) 55.000001192092896%
    ),
    radial-gradient(closest-side, rgba(60, 33, 102, 1) 0%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(closest-side, rgba(27, 29, 82, 1) 0%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(
      170deg,
      rgba(11, 3, 34, 1) 0%,
      rgba(17, 17, 57, 1) 30.000001192092896%,
      rgba(4, 0, 15, 1) 64.99999761581421%,
      rgba(23, 11, 46, 1) 100%
    );
  align-self: stretch;
  flex-shrink: 0;
  height: 1695px;
  min-height: 993px;
  position: relative;
  overflow: hidden;

}
.card-back-view-5-x-5-puzzle-card-game-design .header {

  background: rgba(4, 0, 15, 0.5);
  border-style: solid;
  border-color: rgba(165, 69, 153, 0.2);
  border-width: 0px 0px 1px 0px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1551px;
  position: absolute;
  left: 0px;
  top: 0px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container {

  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .logo-mark {

  flex-shrink: 0;
  width: 26px;
  height: 26px;
  position: relative;
  overflow: hidden;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo {

  width: 120%;
  height: 103.33%;
  position: absolute;
  right: -18.33%;
  left: -1.67%;
  bottom: -1.9%;
  top: -1.43%;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .container2 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 133.33px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .paragraph {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse {

  color: #eaa7b7;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 16.799999237060547px;
  line-height: 16.8px;
  letter-spacing: 3.29px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .paragraph2 {

  padding: 3px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 133.33px;
  height: 15px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .puzzle-card-game {

  color: rgba(145, 139, 195, 0.5);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1.6px;
  font-weight: 400;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .container3 {

  padding: 32px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1551px;
  position: absolute;
  left: 0px;
  top: 64.8px;

}
.card-back-view-5-x-5-puzzle-card-game-design .heading-1 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .flip-the-card {

  color: #e56ba6;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 44.79999923706055px;
  line-height: 49.28px;
  letter-spacing: 5.74px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .paragraph3 {

  padding: 6px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1551px;
  height: 25px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .all-cards-start-face-down-choose-your-grid {

  color: rgba(145, 139, 195, 0.6);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12.479999542236328px;
  line-height: 18.72px;
  letter-spacing: 0.96px;
  font-weight: 400;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .container4 {

  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 1551px;
  position: absolute;
  left: 0px;
  top: 182.78px;

}
.card-back-view-5-x-5-puzzle-card-game-design .button {

  background: rgba(4, 0, 15, 0.4);
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(145, 139, 195, 0.18);
  border-width: 1px;
  padding: 1px;
  flex-shrink: 0;
  width: 82.58px;
  height: 35.69px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design ._3-3 {

  color: rgba(145, 139, 195, 0.5);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.119999885559082px;
  line-height: 19.68px;
  letter-spacing: 1.49px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 22px;
  top: 7px;

}
.card-back-view-5-x-5-puzzle-card-game-design .button2 {

  background: rgba(4, 0, 15, 0.4);
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(145, 139, 195, 0.18);
  border-width: 1px;
  padding: 1px;
  flex-shrink: 0;
  width: 83.06px;
  height: 35.69px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design ._4-4 {

  color: rgba(145, 139, 195, 0.5);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.119999885559082px;
  line-height: 19.68px;
  letter-spacing: 1.49px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 23px;
  top: 7px;

}
.card-back-view-5-x-5-puzzle-card-game-design .button3 {

  background: linear-gradient(
    135deg,
    rgba(60, 33, 102, 0.9) 0%,
    rgba(42, 28, 90, 0.9) 100%
  );
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(165, 69, 153, 0.6);
  border-width: 1px;
  padding: 1px;
  flex-shrink: 0;
  width: 82.44px;
  height: 35.69px;
  position: relative;
  box-shadow: 0px 0px 16px 0px rgba(165, 69, 153, 0.25);

}
.card-back-view-5-x-5-puzzle-card-game-design ._5-5 {

  color: #eaa7b7;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.119999885559082px;
  line-height: 19.68px;
  letter-spacing: 1.49px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 22px;
  top: 7px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container-margin {

  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 612px;
  top: 1245px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container5 {

  border-style: solid;
  border-color: rgba(145, 139, 195, 0.12);
  border-width: 1px 0px 0px 0px;
  padding: 18px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 400px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .container6 {

  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .text {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .grid-size {

  color: rgba(145, 139, 195, 0.35);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 7.679999828338623px;
  line-height: 11.52px;
  letter-spacing: 1.23px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design ._5-52 {

  color: #c084fc;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  letter-spacing: 1.27px;
  font-weight: 700;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .total-cards {

  color: rgba(145, 139, 195, 0.35);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 7.679999828338623px;
  line-height: 11.52px;
  letter-spacing: 1.23px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design ._25 {

  color: #c084fc;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  letter-spacing: 1.27px;
  font-weight: 700;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .status {

  color: rgba(145, 139, 195, 0.35);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 7.679999828338623px;
  line-height: 11.52px;
  letter-spacing: 1.23px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .face-down {

  color: #c084fc;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.199999809265137px;
  line-height: 22.8px;
  letter-spacing: 1.27px;
  font-weight: 700;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design ._5-x-5-landscape {

  display: grid;
  gap: 0px;
  row-gap: 18px;
  position: absolute;
  left: 181px;
  top: 306px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));

}
.card-back-view-5-x-5-puzzle-card-game-design .cards {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .card-back {

  background: linear-gradient(
    160deg,
    rgba(23, 11, 46, 1) 0%,
    rgba(11, 3, 34, 1) 40.00000059604645%,
    rgba(4, 0, 15, 1) 100%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(165, 69, 153, 0.28);
  border-width: 1px;
  padding: 1px;
  width: 226px;
  height: 163px;
  position: absolute;
  left: 6px;
  top: 0px;
  overflow: hidden;

}
.card-back-view-5-x-5-puzzle-card-game-design .container7 {

  background: radial-gradient(
    closest-side,
    rgba(145, 139, 195, 0.1) 0.8130080997943878%,
    rgba(0, 0, 0, 0) 0.8130080997943878%
  );
  width: 123px;
  height: 186px;
  position: absolute;
  left: 1px;
  top: 1px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container8 {

  background: radial-gradient(
    closest-side,
    rgba(165, 69, 153, 0.12) 0%,
    rgba(0, 0, 0, 0) 64.99999761581421%
  );
  width: 225px;
  height: 163px;
  position: absolute;
  left: 1px;
  top: 0px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container9 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 1px 0px 0px 1px;
  padding: 1px 0px 0px 1px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 8.83px;
  top: 8.99px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container10 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 1px 1px 0px 0px;
  padding: 1px 1px 0px 0px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 210px;
  top: 8.99px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container11 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 0px 0px 1px 1px;
  padding: 0px 0px 1px 1px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 13px;
  top: 146px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container12 {

  border-radius: 1px;
  border-style: solid;
  border-color: rgba(234, 167, 183, 0.4);
  border-width: 0px 1px 1px 0px;
  padding: 0px 1px 1px 0px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 205px;
  top: 146px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container13 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 79px;
  top: 39px;
  box-shadow: 0px 0px 16px 0px rgba(165, 69, 153, 0.5);

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo2 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .container14 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 121px;
  position: absolute;
  left: 53px;
  top: 107px;

}
.card-back-view-5-x-5-puzzle-card-game-design .container15 {

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse2 {

  color: #eaa7b7;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.399999618530273px;
  line-height: 15.4px;
  letter-spacing: 3.12px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .container16 {

  padding: 3px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 121px;
  height: 13px;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .div {

  color: rgba(145, 139, 195, 0.35);
  text-align: center;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 9.100000381469727px;
  line-height: 9.1px;
  letter-spacing: 1.09px;
  font-weight: 400;
  position: relative;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards2 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo3 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards3 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo4 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards4 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo5 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards5 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo6 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards6 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo7 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards7 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo8 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards8 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo9 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards9 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo10 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards10 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo11 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards11 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo12 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards12 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo13 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards13 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo14 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards14 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo15 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards15 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 3 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo16 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards16 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo17 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards17 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo18 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards18 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo19 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards19 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo20 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards20 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo21 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards21 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo22 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards22 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo23 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards23 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo24 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards24 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo25 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design .cards25 {

  height: 170px;
  position: relative;
  overflow: hidden;
  grid-column: 5 / span 1;
  grid-row: 5 / span 1;

}
.card-back-view-5-x-5-puzzle-card-game-design .paraverse-logo26 {

  flex-shrink: 0;
  width: 70px;
  height: 60px;
  position: relative;
  overflow: visible;

}
.card-back-view-5-x-5-puzzle-card-game-design ._25-cards-advanced {

  color: rgba(165, 69, 153, 0.55);
  text-align: left;
  font-family: "Cousine-Regular", sans-serif;
  font-size: 8.800000190734863px;
  line-height: 13.2px;
  letter-spacing: 1.58px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 711px;
  top: 238px;

}

/* Custom grid collapse fix */
.card-back-view-5-x-5-puzzle-card-game-design ._5-x-5-landscape > div {
  width: 238px !important;
}
.card-back-view-5-x-5-puzzle-card-game-design ._4-x-4-landscape > div {
  width: 238px !important;
}
